<!DOCTYPE html>
<html>

{% include head.html %}

<body>
<div class="fullwidth">
{% if site.custom_header == true %}
  {% include header-custom.html %}
{% else %}
  {% include header.html %}
{% endif %}
</div>
	<div id="wrap">

	  	<!-- Navigation -->
	  	{% include menu.html %}

    <!-- Icon menu -->
	  <a href="#" {% if site.reverse == true %}id="nav-menu-left"{% else %}id="nav-menu"{% endif %}>
	  	<div id="menu"></div>
	  </a>

      <!-- Header -->
      {% include realhead.html %}
    <div id="sidebar">
      <h4>Search!</h4>
      <div class="boxform">
        <form id="searchForm">
          <input class="formyes" id="searchterm" />
          <button type="submit" class="btn btnyes" id="search">search</button>
        </form>
      </div>
      <div class="boxform">
        <div id="results"></div>
      </div>

    </div>
    <!-- Main content -->
	  <div id="container">

		<main>

			{{ content }}

	  </main>

		  <!-- Pagination links -->
      {% if paginator.total_pages > 1 %}
        <div class="pagination">
          {% if paginator.previous_page == 1 %}
            <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">&laquo;</a>
          {% elsif paginator.previous_page%}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">&laquo;</a>
          {% else %}
            <span class="page-item">&laquo;</span>
          {% endif %}

          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <span class="page-item">{{ page }}</span>
            {% elsif page == 1 %}
              <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">{{ page }}</a>
            {% else %}
              <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}" class="page-item">{{ page }}</a>
            {% endif %}
          {% endfor %}

          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">&raquo;</a>
          {% else %}
            <span class="page-item">&raquo;</span>
          {% endif %}
        </div>
        {% endif %}

	  </div>

	    <!-- Footer -->
	    {% include footer.html %}

	    <!-- Script -->
      {% include script.html %}

	</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script>

  $("#searchForm").submit(function(e){
      e.preventDefault();
      $("#results").empty();
      $("#results").append("<div class='hrfull'></div>");
      $("#results").append("<div class='resultsearch'><a>tunggu sik ..</a></div>");

      // ?q='+$('#searchterm').val()
      $.ajax({
        url: 'https://primaadi.east-us.azr.facetflow.io/my_index/_search?q='+$('#searchterm').val(),
        // dataType: 'json',
        type: 'GET',
        // contentType: 'application/json',
        crossDomain: true,
        // data: q,
        success: function(data) {
          //alert(""+JSON.parse(data.hits.total));
          $("#results").empty();
          //$("#results").append("<div class='resultsearch'>"+$("#searchterm").val()+"</div><hr class='borderbt'>");
          $("#results").append("<div class='hrfull'></div>");
          $.each(data.hits.hits, function(i,item){
            $("#results").append("<div class='resultsearch'><a href='"+ item._source.link +"'>" + item._source.judul + "</a></div><hr class='borderbt'>");
          });
        }
      });
    });

  </script>
  <!-- <script src="{{ site.baseurl }}js/main.js"></script> -->
  <script src="{{ site.baseurl }}js/highlight.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
